<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="../css/reset.css" />
  <link rel="stylesheet" href="../css/style.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap"
    rel="stylesheet"
  />
  <title>Home</title>
</head>
<body>
  <header>
    <figure>
      <img src="../img/Logo.png" alt="Logo" />
    </figure>
    <nav>
      <ul>
        <li><a href="../mtg">Home</a></li>
        <li><a href="decks" id="active">Decks</a></li>
        <li><a href="draw">DrawTest</a></li>
      </ul>
    </nav>
  </header>
  <main id="decks">
    <% if(succes){%>
    <div id="succes">
      <h3>Collection aangemaakt.</h3>
    </div>
    <%}%>
    <section>
      <h2>Jouw Decks</h2>
    </section>
    <form action="/mtg/createDeck" method="POST">
      <input
        type="text"
        placeholder="Deck naam"
        name="deckname"
        id="deckname"
      />
      <button type="submit">Create Deck</button>
    </form>
  </main>
  <footer>
    <p>IT-Project 2021 - 2022</p>
    <p>&copy; Orzhov Cartel</p>
  </footer>
</body>
