<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="../css/reset.css" />
  <link rel="stylesheet" href="../css/style.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap"
    rel="stylesheet"
  />
  <title>Home</title>
</head>
<body>
  <header>
    <figure>
      <img src="../img/Logo.png" alt="Logo" />
    </figure>
    <nav>
      <ul>
        <li><a href="/mtg" id="active">Home</a></li>
        <li><a href="../mtg/decks">Decks</a></li>
        <li><a href="#" onclick="clickError()">DrawTest</a></li>
      </ul>
    </nav>
  </header>
  <main id="card-grid">
    <% if(succes){%>
    <div id="succes">
      <h3>Succesvol kaart toegevoegd.</h3>
    </div>
    <%}%> <% if(maxAdd){%>
    <div id="succes">
      <h3 id="succes">Je hebt max aantal kaarten bereikt.</h3>
    </div>
    <%}%>
    <div id="popUp">
      <form action="/mtg/addCard" method="POST">
        <img
          src="../img/back-of-card.jpg"
          alt="Achterkant van kaart"
          id="popUpImage"
          title="Titel van kaart"
          value="../img/back-of-card.jpg"
        />
        <h2 id="popUpH2" value="None">None</h2>
        <button type="button" onclick="closeClick()">X</button>
        <select name="collections" id="collections">
          <% for (let i = 0;i < collections.length; i++ ){%>
          <option value="<%= collections[i].name %>">
            Deck: <%= collections[i].name %>
          </option>
          <%}%>
        </select>
        <input type="hidden" value="none" id="imgUrlForm" name="imgUrlForm" />
        <input type="hidden" value="none" id="titleForm" name="titleForm" />
        <label for="amountCardForm">Aantal</label>
        <input
          type="number"
          name="amountCard"
          id="amountCardForm"
          min="1"
          max="4"
          value="1"
        />

        <button type="submit">Add to deck</button>
      </form>
    </div>
    <section>
      <form action="/mtg/zoeken" method="get">
        <input type="text" placeholder="Een woord" name="search" id="search" />
        <button type="submit">Zoeken</button>
      </form>
      <% if(tekst){%>
      <h2>Niets gevonden</h2>
      <%}%>
    </section>
    <section>
      <% for (let i = 0;i < image.length; i++ ){%>
      <img
        src="<%= image[i].url %>"
        alt="<%= image[i].name %>"
        onclick="clickHandler(this.src, this.alt)"
      />
      <%}%>
    </section>
  </main>
  <footer>
    <p>IT-Project 2021 - 2022</p>
    <p>&copy; Orzhov Cartel</p>
  </footer>

  <script>
    function clickHandler(src, alt) {
      document.getElementById("popUp").style.visibility = "visible";
      document.getElementById("popUpImage").src = src;
      document.getElementById("popUpH2").textContent = alt;
      document.getElementById("titleForm").setAttribute("value", alt);
      document.getElementById("imgUrlForm").setAttribute("value", src);
    }
    function clickError() {
      alert("Deze functie is uitgeschakeld");
    }

    function closeClick() {
      document.getElementById("popUp").style.visibility = "hidden";
    }
  </script>
</body>
