<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap"
      rel="stylesheet"
    />

    <title>IT-Project</title>
  </head>
  <body>
    <main id="start">
      <section>
        <figure>
          <a href="../mtg"><img src="../img/MTG.jpg" alt="" /></a>
        </figure>
        <figure>
          <a href="#" onclick="clickError()"
            ><img src="../img/Fortnite.jpg" alt=""
          /></a>
        </figure>
        <figure>
          <a href="#" onclick="clickError()"
            ><img src="../img/FIFA.jpg" alt=""
          /></a>
        </figure>
        <figure>
          <a href="#" onclick="clickError()"
            ><img src="../img/LOTR.jpg" alt=""
          /></a>
        </figure>
        <figure>
          <a href="#" onclick="clickError()"
            ><img src="../img/LM.jpg" alt=""
          /></a>
        </figure>
        <figure>
          <a href="#" onclick="clickError()"
            ><img src="../img/NB.jpg" alt=""
          /></a>
        </figure>
      </section>
    </main>
  </body>
  <script>
    function clickError() {
      alert("Deze functie is uitgeschakeld");
    }
  </script>
</html>
