body {
  font-family: "Nunito", sans-serif;
  background-color: #262621;
  header {
    font-family: "Roboto", sans-serif;
    background-color: #878c80;
    color: white;
    figure {
      display: inline-block;
      vertical-align: middle;
      img {
        width: 75%;
        margin-left: 2%;
      }
    }
    h1 {
      display: inline-block;
      vertical-align: middle;
      font-size: 36pt;
      display: inline;
    }
    nav {
      vertical-align: middle;
      ul {
        list-style-type: none;
        text-align: right;
        li {
          margin-left: 1%;
          a {
            color: white;
            font-size: 16pt;
            text-decoration: none;
          }
        }
      }
    }
  }
}
