html body {
  font-family: "Nunito", sans-serif;
  background-color: #262621;
}

html body header {
  font-family: "Roboto", sans-serif;
  background-color: #878c80;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body header figure img {
  width: 75%;
}

html body header nav {
  margin-right: 3%;
}

html body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

html body header nav ul li a {
  color: white;
  font-size: 16pt;
  padding: 10%;
  text-decoration: none;
}

html body header nav ul li #active {
  border-bottom: #4f5954 solid 2px;
}

html body #start section:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body #start section:first-of-type figure {
  width: 33%;
}

html body #start section:first-of-type figure img {
  margin-left: 25%;
  margin-top: 15%;
  width: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html body #start section:first-of-type figure img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html body #card-grid #succes {
  background-color: #4f5954;
  color: white;
  text-align: center;
  padding: 0.5%;
}

html body #card-grid #popUp {
  visibility: hidden;
  position: fixed;
  top: auto;
  left: 500px;
  width: 45%;
  height: auto;
  background-color: #4f5954;
}

html body #card-grid #popUp #popUpImage {
  padding: 3%;
  width: 35%;
}

html body #card-grid #popUp h2 {
  color: white;
  font-size: 1.7em;
  position: fixed;
  top: 33%;
  left: 850px;
}

html body #card-grid #popUp button {
  background-color: #768d87;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 28px;
  font-weight: bold;
  padding: 9px 15px;
  text-decoration: none;
  position: fixed;
  top: 30%;
  right: 30%;
}

html body #card-grid #popUp button[type="submit"] {
  position: fixed;
  top: 600px;
  right: 550px;
}

html body #card-grid #popUp button:hover {
  background-color: #637571;
}

html body #card-grid #popUp select {
  position: fixed;
  top: 38%;
  left: 45.5%;
  width: 20%;
  height: 40px;
}

html body #card-grid #popUp label {
  position: fixed;
  top: 45%;
  left: 45.5%;
  color: white;
}

html body #card-grid #popUp input[type="number"] {
  position: fixed;
  top: 48%;
  left: 45.5%;
  width: 10%;
  height: 30px;
}

html body #card-grid section:first-of-type h2 {
  display: block;
  color: white;
  font-size: 2em;
  text-align: center;
  margin: 5% 0;
}

html body #card-grid section:first-of-type h3 {
  display: block;
  color: white;
  font-size: 1.7em;
  text-align: center;
  margin: 5% 0;
}

html body #card-grid section:first-of-type form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body #card-grid section:first-of-type form input {
  margin: 2% 1%;
  padding: 10px;
  border: 0;
}

html body #card-grid section:first-of-type form input[type="text"] {
  width: 20%;
}

html body #card-grid section:first-of-type form button[type="submit"] {
  margin: 2% 1%;
  padding: 10px;
  border: 0;
  background-color: #4f5954;
  color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-weight: bold;
}

html body #card-grid section:first-of-type form button[type="submit"]:hover {
  background-color: #878c80;
  color: black;
}

html body #card-grid section:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
  pointer-events: all;
}

html body #card-grid section:last-of-type img {
  margin: 1% 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body #card-grid section:last-of-type img:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

html body #decks #succes {
  background-color: #4f5954;
  color: white;
  text-align: center;
  padding: 0.5%;
}

html body #decks section:first-of-type h2 {
  margin: 4% 0;
  color: white;
  font-size: 1.7em;
  text-align: center;
}

html body #decks section:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
}

html body #decks section:last-of-type a {
  text-decoration: none;
}

html body #decks section:last-of-type div {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body #decks section:last-of-type div h2 {
  color: white;
  text-align: center;
}

html body #decks section:last-of-type div:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

html body #decks form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body #decks form input {
  margin: 2% 1%;
  padding: 10px;
  border: 0;
}

html body #decks form input[type="text"] {
  width: 20%;
}

html body #decks form button[type="submit"] {
  margin: 2% 1%;
  padding: 10px;
  border: 0;
  background-color: #4f5954;
  color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-weight: bold;
}

html body #decks form button[type="submit"]:hover {
  background-color: #878c80;
  color: black;
}

html body #oneDeck #succes {
  background-color: #4f5954;
  color: white;
  text-align: center;
  padding: 0.5%;
}

html body #oneDeck #popUp {
  visibility: hidden;
  position: fixed;
  top: 23%;
  left: 500px;
  width: 45%;
  height: auto;
  background-color: #4f5954;
}

html body #oneDeck #popUp #popUpImage {
  padding: 3%;
  width: 35%;
}

html body #oneDeck #popUp h2 {
  color: white;
  font-size: 1.7em;
  position: fixed;
  top: 260px;
  left: 850px;
}

html body #oneDeck #popUp button {
  background-color: #768d87;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 28px;
  font-weight: bold;
  padding: 9px 15px;
  text-decoration: none;
  position: fixed;
  top: 25%;
  right: 30%;
}

html body #oneDeck #popUp button[type="submit"] {
  position: fixed;
  top: 65%;
  right: 30%;
}

html body #oneDeck #popUp #deleteButton {
  position: fixed;
  top: 65%;
  right: 49%;
}

html body #oneDeck #popUp button:hover {
  background-color: #637571;
}

html body #oneDeck #popUp label {
  position: fixed;
  top: 380px;
  left: 850px;
  color: white;
}

html body #oneDeck #popUp input[type="number"] {
  position: fixed;
  top: 400px;
  left: 850px;
  width: 10%;
  height: 30px;
}

html body #oneDeck section:first-of-type h2 {
  margin: 4% 0;
  color: white;
  font-size: 1.7em;
  text-align: center;
}

html body #oneDeck section:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto 3% auto;
}

html body #oneDeck section:last-of-type img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body footer {
  background-color: #878c80;
  font-size: 10pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body footer p {
  padding: 1%;
}

@media (max-width: 600px) and (hover: none) {
  html body header {
    display: block;
  }
  html body header figure img {
    display: block;
    margin: 0 auto;
    width: 40%;
  }
  html body header nav {
    margin: 0;
  }
  html body header nav ul {
    display: block;
  }
  html body header nav ul li {
    padding: 2%;
    display: block;
    margin: 0 auto;
  }
  html body header nav ul li a {
    font-size: 18pt;
    display: block;
    padding: 0;
    text-align: center;
  }
  html body header nav ul li #active {
    border: 0;
  }
  html body #start section:first-of-type {
    display: block;
  }
  html body #start section:first-of-type figure {
    width: 100%;
  }
  html body #start section:first-of-type figure img {
    margin-left: 25%;
    margin-top: 15%;
    width: 50%;
  }
  html body #card-grid #popUp {
    position: fixed;
    height: 650px;
    top: 10%;
    left: 0px;
    width: 100%;
  }
  html body #card-grid #popUp #popUpImage {
    position: fixed;
    top: 15%;
    left: 28%;
    width: 40%;
  }
  html body #card-grid #popUp h2 {
    position: fixed;
    top: 12%;
    left: 30%;
  }
  html body #card-grid #popUp button:first-of-type {
    width: 10%;
    display: block;
    font-size: 28px;
    font-weight: bold;
    padding: 1% 3%;
    text-decoration: none;
    position: fixed;
    top: 12%;
    left: 5%;
  }
  html body #card-grid #popUp button[type="submit"] {
    position: fixed;
    top: 75%;
    right: 25%;
    width: 50%;
  }
  html body #card-grid #popUp select {
    position: fixed;
    top: 65%;
    left: 10%;
    width: 30%;
    height: 40px;
  }
  html body #card-grid #popUp label {
    position: fixed;
    top: 60%;
    left: 55%;
    font-size: 1.4em;
    color: white;
  }
  html body #card-grid #popUp input[type="number"] {
    position: fixed;
    font-size: 1em;
    top: 65%;
    left: 55%;
    width: 30%;
  }
  html body #card-grid section:first-of-type form {
    display: block;
  }
  html body #card-grid section:first-of-type form input {
    margin: 2% auto;
  }
  html body #card-grid section:first-of-type form input[type="text"] {
    display: block;
    width: 70%;
    font-size: 15pt;
  }
  html body #card-grid section:first-of-type form button[type="submit"] {
    margin: 2% 20%;
    width: 60%;
    font-size: 15pt;
  }
  html body #card-grid section:last-of-type {
    max-width: none;
  }
  html body #card-grid section:last-of-type img {
    width: 45%;
  }
  html body #card-grid section:last-of-type img:hover {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  html body #decks #succes {
    background-color: #4f5954;
    color: white;
    text-align: center;
    padding: 0.5%;
  }
  html body #decks section:first-of-type h2 {
    margin: 4% 0;
    color: white;
    font-size: 1.7em;
    text-align: center;
  }
  html body #decks section:last-of-type {
    max-width: none;
  }
  html body #decks section:last-of-type a {
    margin: 5% auto;
  }
  html body #decks section:last-of-type div h2 {
    font-size: 1.2em;
  }
  html body #decks form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body #decks form input {
    margin: 4% 1%;
    padding: 10px;
    border: 0;
  }
  html body #decks form input[type="text"] {
    margin: 2% 1%;
    width: 30%;
  }
  html body #decks form button[type="submit"] {
    margin: 2% 1%;
    padding: 10px;
    border: 0;
  }
  html body #draw section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html body #draw #collections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: first baseline;
        -ms-flex-pack: first baseline;
            justify-content: first baseline;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 15%;
    font-size: 1.4em;
  }
  html body #draw input {
    border: #262621 10px solid;
    margin-top: 15%;
    margin-bottom: 15%;
    width: 7%;
  }
  html body #oneDeck #succes {
    font-size: 1.3em;
    text-align: center;
    padding: 1%;
  }
  html body #oneDeck #popUp {
    position: fixed;
    height: 650px;
    top: 10%;
    left: 0px;
    width: 100%;
  }
  html body #oneDeck #popUp #popUpImage {
    position: fixed;
    top: 15%;
    left: 28%;
    width: 40%;
  }
  html body #oneDeck #popUp h2 {
    position: fixed;
    top: 12%;
    left: 30%;
  }
  html body #oneDeck #popUp button:first-of-type {
    width: 10%;
    display: block;
    font-size: 28px;
    font-weight: bold;
    padding: 1% 3%;
    text-decoration: none;
    position: fixed;
    top: 12%;
    left: 5%;
  }
  html body #oneDeck #popUp #deleteButton {
    position: fixed;
    top: 70%;
    right: 23%;
  }
  html body #oneDeck #popUp button[type="submit"] {
    position: fixed;
    top: 80%;
    right: 23%;
    width: 50%;
  }
  html body #oneDeck #popUp label {
    position: fixed;
    top: 59%;
    left: 33%;
    font-size: 1.4em;
    color: white;
  }
  html body #oneDeck #popUp input[type="number"] {
    position: fixed;
    font-size: 1em;
    top: 63%;
    left: 33%;
    width: 30%;
  }
  html body #oneDeck section:first-of-type h2 {
    margin: 5% 0;
    color: white;
    font-size: 1.8em;
    text-align: center;
  }
  html body #oneDeck section:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 3% auto;
  }
  html body #oneDeck section:last-of-type img {
    width: 40%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  html body footer {
    display: block;
    text-align: center;
    margin-top: 2%;
    font-size: 12pt;
  }
}
/*# sourceMappingURL=style.css.map */