html body {
  font-family: "Nunito", sans-serif;
  background-color: #262621;
}

html body header {
  font-family: "Roboto", sans-serif;
  background-color: #878c80;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body header figure img {
  width: 75%;
}

html body header nav {
  margin-right: 3%;
}

html body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

html body header nav ul li a {
  color: white;
  font-size: 16pt;
  padding: 10%;
  text-decoration: none;
}

html body header nav ul li #active {
  border-bottom: #4f5954 solid 2px;
}

html body #start section:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body #start section:first-of-type figure {
  width: 33%;
}

html body #start section:first-of-type figure img {
  margin-left: 25%;
  margin-top: 15%;
  width: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html body #start section:first-of-type figure img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html body #card-grid #popUp {
  visibility: hidden;
  position: fixed;
  top: auto;
  left: 500px;
  width: 45%;
  height: auto;
  background-color: #4f5954;
}

html body #card-grid #popUp #popUpImage {
  padding: 3%;
  width: 35%;
}

html body #card-grid #popUp h2 {
  color: white;
  font-size: 1.7em;
  position: fixed;
  top: 260px;
  left: 850px;
}

html body #card-grid #popUp button {
  background-color: #768d87;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 28px;
  font-weight: bold;
  padding: 9px 15px;
  text-decoration: none;
  position: fixed;
  top: 250px;
  right: 550px;
}

html body #card-grid #popUp button:hover {
  background-color: #637571;
}

html body #card-grid section:first-of-type h2 {
  display: block;
  color: white;
  font-size: 2em;
  text-align: center;
  margin: 5% 0;
}

html body #card-grid section:first-of-type form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body #card-grid section:first-of-type form input {
  margin: 2% 1%;
  padding: 10px;
  border: 0;
}

html body #card-grid section:first-of-type form input[type="text"] {
  width: 20%;
}

html body #card-grid section:first-of-type form button[type="submit"] {
  margin: 2% 1%;
  padding: 10px;
  border: 0;
  background-color: #4f5954;
  color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-weight: bold;
}

html body #card-grid section:first-of-type form button[type="submit"]:hover {
  background-color: #878c80;
  color: black;
}

html body #card-grid section:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
}

html body #card-grid section:last-of-type img {
  margin: 1% 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body #card-grid section:last-of-type img:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

html body #decks section h2 {
  margin: 2% 0;
  color: white;
  font-size: 1.7em;
  text-align: center;
}

html body footer {
  background-color: #878c80;
  font-size: 10pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body footer p {
  padding: 1%;
}

@media (max-width: 600px) {
  html body header {
    display: block;
  }
  html body header figure img {
    display: block;
    margin: 0 auto;
    width: 40%;
  }
  html body header nav {
    margin: 0;
  }
  html body header nav ul {
    display: block;
  }
  html body header nav ul li {
    padding: 2%;
    display: block;
    margin: 0 auto;
  }
  html body header nav ul li a {
    font-size: 18pt;
    display: block;
    padding: 0;
    text-align: center;
  }
  html body header nav ul li #active {
    border: 0;
  }
  html body #card-grid section:first-of-type {
    display: block;
  }
  html body #card-grid section:first-of-type input {
    display: block;
    margin: 2% auto;
  }
  html body #card-grid section:first-of-type input[type="text"] {
    width: 50%;
    font-size: 15pt;
  }
  html body #card-grid section:first-of-type input[type="submit"] {
    width: 30%;
    font-size: 15pt;
  }
  html body #card-grid section:last-of-type {
    max-width: 420px;
  }
  html body #card-grid section:last-of-type img {
    width: 50%;
  }
  html body footer {
    display: block;
    text-align: center;
    margin-top: 2%;
    font-size: 12pt;
  }
}
/*# sourceMappingURL=style.css.map */