html {
  body {
    font-family: "Nunito", sans-serif;
    background-color: #262621;
    header {
      font-family: "Roboto", sans-serif;
      background-color: #878c80;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      figure {
        img {
          width: 75%;
        }
      }
      nav {
        margin-right: 3%;
        ul {
          display: flex;
          gap: 15px;
          li {
            a {
              color: white;
              font-size: 16pt;
              padding: 10%;
              text-decoration: none;
            }
            #active {
              border-bottom: #4f5954 solid 2px;
            }
          }
        }
      }
    }
    #start {
      section:first-of-type {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        figure {
          width: 33%;
          img {
            margin-left: 25%;
            margin-top: 15%;
            width: 50%;
            transition: 0.3s;
          }
          img:hover {
            transform: scale(1.1);
          }
        }
      }
    }
    #card-grid {
      #popUp {
        visibility: hidden;
        position: fixed;
        top: auto;
        left: 500px;
        width: 45%;
        height: auto;
        background-color: #4f5954;
        #popUpImage {
          padding: 3%;
          width: 35%;
        }
        h2 {
          color: white;
          font-size: 1.7em;
          position: fixed;
          top: 260px;
          left: 850px;
        }
        button {
          background-color: #768d87;
          border: 1px solid #566963;
          display: inline-block;
          cursor: pointer;
          color: #ffffff;
          font-family: Arial;
          font-size: 28px;
          font-weight: bold;
          padding: 9px 15px;
          text-decoration: none;
          position: fixed;
          top: 250px;
          right: 550px;
        }
        button[type="submit"] {
          position: fixed;
          top: 600px;
          right: 550px;
        }
        button:hover {
          background-color: #637571;
        }
        select {
          position: fixed;
          top: 300px;
          left: 850px;
          width: 20%;
          height: 40px;
        }
        label {
          position: fixed;
          top: 380px;
          left: 850px;
          color: white;
        }
        input[type="number"] {
          position: fixed;
          top: 400px;
          left: 850px;
          width: 10%;
          height: 30px;
        }
      }
      section:first-of-type {
        h2 {
          display: block;
          color: white;
          font-size: 2em;
          text-align: center;
          margin: 5% 0;
        }
        h3 {
          display: block;
          color: white;
          font-size: 1.7em;
          text-align: center;
          margin: 5% 0;
        }
        form {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          input {
            margin: 2% 1%;
            padding: 10px;
            border: 0;
          }
          input[type="text"] {
            width: 20%;
          }
          button[type="submit"] {
            margin: 2% 1%;
            padding: 10px;
            border: 0;
            background-color: #4f5954;
            color: white;
            transition: 0.1s;
            font-weight: bold;
          }
          button[type="submit"]:hover {
            background-color: #878c80;
            color: black;
          }
        }
      }
      section:last-of-type {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1240px;
        margin: 0 auto;
        img {
          margin: 1% 0%;
          transition: 0.5s;
        }
        img:hover {
          opacity: 0.7;
          transform: scale(1.03);
        }
      }
    }
    #decks {
      #succes {
        background-color: #4f5954;
        color: white;
        text-align: center;
        padding: 0.5%;
      }
      section {
        h2 {
          margin: 2% 0;
          color: white;
          font-size: 1.7em;
          text-align: center;
        }
      }
      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        input {
          margin: 2% 1%;
          padding: 10px;
          border: 0;
        }
        input[type="text"] {
          width: 20%;
        }
        button[type="submit"] {
          margin: 2% 1%;
          padding: 10px;
          border: 0;
          background-color: #4f5954;
          color: white;
          transition: 0.1s;
          font-weight: bold;
        }
        button[type="submit"]:hover {
          background-color: #878c80;
          color: black;
        }
      }
    }
    footer {
      background-color: #878c80;
      font-size: 10pt;
      display: flex;
      justify-content: space-between;
      p {
        padding: 1%;
      }
    }
  }
}

@media (max-width: 1024px) {
  html {
    body {
    }
  }
}

@media (max-width: 600px) {
  html {
    body {
      header {
        display: block;
        figure {
          img {
            display: block;
            margin: 0 auto;
            width: 40%;
          }
        }
        nav {
          margin: 0;
          ul {
            display: block;
            li {
              padding: 2%;
              display: block;
              margin: 0 auto;
              a {
                font-size: 18pt;
                display: block;
                padding: 0;
                text-align: center;
              }
              #active {
                border: 0;
              }
            }
          }
        }
      }
      #card-grid {
        section:first-of-type {
          display: block;
          input {
            display: block;
            margin: 2% auto;
          }
          input[type="text"] {
            width: 50%;
            font-size: 15pt;
          }
          input[type="submit"] {
            width: 30%;
            font-size: 15pt;
          }
        }
        section:last-of-type {
          max-width: 420px;
          img {
            width: 50%;
          }
        }
      }
      footer {
        display: block;
        text-align: center;
        margin-top: 2%;
        font-size: 12pt;
      }
    }
  }
}
