body {
  font-family: "Nunito", sans-serif;
  background-color: #262621;
  header {
    font-family: "Roboto", sans-serif;
    background-color: #878c80;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    figure {
      img {
        width: 75%;
      }
    }
    nav {
      margin-right: 3%;
      ul {
        display: flex;
        gap: 15px;
        li {
          a {
            color: white;
            font-size: 16pt;
            padding: 10%;
            text-decoration: none;
          }
          #active {
            border-bottom: #4f5954 solid 2px;
          }
        }
      }
    }
  }
  #card-grid {
    section {
      h1 {
        font-size: 24pt;
      }
    }
    section:first-of-type {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      input {
        margin: 2% 1%;
        padding: 10px;
      }
      input[type="text"] {
        width: 20%;
      }
      input[type="submit"] {
        background-color: #4f5954;
        border: 0;
        color: white;
        transition: 0.15s;
        font-weight: bold;
      }
      input[type="submit"]:hover {
        background-color: #878c80;
        color: black;
      }
    }
    section:last-of-type {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1240px;
      margin: 0 auto;
      img {
        margin: 1% 0%;
      }
      img:hover {
        opacity: 0.5;
      }
    }
  }
  footer {
    background-color: #878c80;
    font-size: 10pt;
    display: flex;
    justify-content: space-between;
    p {
      padding: 1%;
    }
  }
}
